.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 70px;
    align-items: center;
    gap: 20px;
}

body {
    background-color: cyan;
    padding: 50px;
    font-family: 'Ubuntu', sans-serif;
}

label {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

input {
    font-size: 40px;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.search {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}