.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 70px;
    align-items: center;
    gap: 20px;
}

body {
    background-color: cyan;
    padding: 50px;
    font-family: 'Ubuntu', sans-serif;
}

label {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

input {
    font-size: 40px;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.search {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}

button {
    cursor: pointer;
}

input.invalid {
    border: 2px solid red;
    box-shadow: 0px 0px 5px red;
    border-radius: 5px;
}

input.invalid:focus {
    outline: none;
}

.error {
    padding: 0;
    position: relative;
    bottom: 23px;
    font-size: 30%;
    color: white;
    background-color: #900;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.error.active {
    padding: 0.3em;
}

#results {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.change-unit {
    align-self: flex-start;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}