.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

body {
    background-color: cyan;
    padding: 50px;
}

label {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}